<main>
  <form *ngIf="(post$ | async) as post; else loading" [formGroup]="form">
    <header>
      <a [routerLink]="['..', '..', 'posts']">← Back</a>
      <button type="submit" (click)="submit()">Submit</button>
    </header>
    <input class="title-input" formControlName="title" placeholder="Title..." />
    <textarea formControlName="body">{{ post.body }}</textarea>
  </form>
  <ng-template #loading>
    <div class="loading-container">
      <p>Loading...</p>
    </div>
  </ng-template>
</main>
