main {
  padding: 1rem;
}

article {
  width: 100%;
  max-width: 65ch;
  margin: 1rem auto;
  padding: 1rem;

  header {
    margin-bottom: 1rem;
  }
  
  header h1 {
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: -0.05ch;
    margin: 1rem 0;
  }  
}

p {
  line-height: 2;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  min-height: 100vh;
}

.text-muted {
  color: #888888;
}

a:not(p a) {
  font-size: smaller;
}
