h2 {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 1rem;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  gap: 1rem;

  span:first-child {
    flex: 1;
  }

  &:last-child {
    justify-content: center;
  }
}

button {
  border: solid 1px #e66;
  border-radius: 4px;
  padding: 2px 4px;
  background-color: transparent;
  color: #e66;
  cursor: pointer;
  transition: background-color 50ms ease-out, color 50ms ease-out;

  &:hover {
    background-color: #e66;
    color: #fff;
  }
}
