<section>
  <a [routerLink]="['..']">
    <h5>← {{ 'Go Back' | translate }}</h5>
  </a>
  <h1>{{ 'Create User' | translate }}</h1>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field color="primary">
          <mat-label>{{ 'ID Number' | translate }}</mat-label>
          <input type="text" matInput formControlName="id" />
          <mat-hint>{{ 'Example-abbreviated' | translate }}: EMP-1810202201</mat-hint>
          <mat-error *ngIf="form.get('id')?.touched || form.get('id')?.dirty">
            {{ form.get('id')?.hasError('required') ? ('This field is required' | translate) : '' }}
          </mat-error>
        </mat-form-field>
        <mat-form-field color="primary">
          <mat-label>{{ 'Name' | translate }}</mat-label>
          <input type="text" matInput formControlName="name">
          <mat-error *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
            {{ form.get('name')?.hasError('required') ? ('This field is required' | translate) : '' }}
          </mat-error>
        </mat-form-field>
        <mat-form-field color="primary">
          <mat-label>{{ 'Email' | translate }}</mat-label>
          <input type="email" matInput formControlName="email" />
          <mat-error *ngIf="form.get('email')?.touched || form.get('email')?.dirty">
            {{ form.get('email')?.hasError('required') ? ('This field is required' | translate) : '' }}
            {{ form.get('email')?.hasError('email') ? ('Email is not valid' | translate) : '' }}
          </mat-error>
        </mat-form-field>
        <mat-form-field color="primary">
          <mat-label>{{ 'Age' | translate }}</mat-label>
          <input type="number" matInput formControlName="age" />
          <mat-error *ngIf="form.get('age')?.touched || form.get('age')?.dirty">
            {{ form.get('age')?.hasError('required') ? ('This field is required' | translate) : '' }}
            {{ form.get('age')?.hasError('min') ? ('Minimum age is' | translate:{ number: 10 }) : '' }}
          </mat-error>
        </mat-form-field>
        <mat-radio-group formControlName="gender">
          <mat-label>{{ 'Gender' | translate }}</mat-label>
          <mat-radio-button value="MALE">{{ 'MALE' | translate}}</mat-radio-button>
          <mat-radio-button value="FEMALE">{{ 'FEMALE' | translate}}</mat-radio-button>
          <mat-radio-button value="NEUTRAL">{{ 'NEUTRAL' | translate }}</mat-radio-button>
          <mat-error *ngIf="form.get('gender')?.touched || form.get('gender')?.dirty">
            {{ form.get('gender')?.hasError('required') ? ('This field is required' | translate) : '' }}
          </mat-error>
        </mat-radio-group>
        <mat-form-field color="primary">
          <mat-label>{{ 'Position' | translate }}</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let userType of userTypes" [value]="userType">{{ userType | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('type')?.touched || form.get('type')?.dirty">
            {{ form.get('type')?.hasError('required') ? ('This field is required' | translate) : '' }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'Marital Status' | translate }}</mat-label>
          <mat-select formControlName="marital_status">
            <mat-option value="MARRIED">{{ 'MARRIED' | translate }}</mat-option>
            <mat-option value="SINGLE">{{ 'SINGLE' | translate }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('marital_status')?.touched || form.get('marital_status')?.dirty">
            {{ form.get('marital_status')?.hasError('required') ? ('This field is required' | translate) : '' }}
          </mat-error>
        </mat-form-field>
        <ul formArrayName="addresses">
          <li *ngFor="let group of addresses.controls; let idx = index" [formGroupName]="idx">
            <mat-form-field>
              <mat-label>{{ 'Address' | translate }}</mat-label>
              <input type="text" matInput formControlName="address" />
              <mat-error *ngIf="group.get('address')?.touched || group.get('address')?.dirty">
                {{ group.get('address')?.hasError('required') ? ('This field is required' | translate) : '' }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'Zip Code' | translate }}</mat-label>
              <input type="text" matInput formControlName="zip" />
              <mat-error *ngIf="group.get('zip')?.touched || group.get('zip')?.dirty">
                {{ group.get('zip')?.hasError('required') ? ('This field is required' | translate) : '' }}
                {{ group.get('zip')?.hasError('pattern') ? ('Only numbers are allowed' | translate) : '' }}
                {{ group.get('zip')?.hasError('minlength') ? ('Code should be more than characters' | translate:{ number: 4 }) : '' }}
                {{ group.get('zip')?.hasError('maxlength') ? ('Code should not be more than characters' | translate:{ number: 9 }) : '' }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'City' | translate }}</mat-label>
              <input type="text" matInput formControlName="city" />
              <mat-error *ngIf="group.get('city')?.touched || group.get('city')?.dirty">
                {{ group.get('city')?.hasError('required') ? ('This field is required' | translate) : '' }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'Country' | translate }}</mat-label>
              <input type="text" matInput formControlName="country" />
              <mat-error *ngIf="group.get('country')?.touched || group.get('country')?.dirty">
                {{ group.get('country')?.hasError('required') ? ('This field is required' | translate) : '' }}
              </mat-error>
            </mat-form-field>
            <button mat-button color="warn" (click)="addresses.removeAt(idx)" *ngIf="addresses.length > 1">Remove Address</button>
          </li>
        </ul>
        <button mat-button (click)="addAddress()" *ngIf="addresses.length < 2">Add Another Address</button>
      </form>
    </mat-card-content>
  </mat-card>
  <button class="button-submit" mat-raised-button color="primary" (click)="submit()">
    {{ (mode === 'edit' ? 'Edit User' : 'Add User') | translate }}
  </button>
</section>
